server:
    port: 8081
#    servlet:
#        context-path: /shopme
spring:
    datasource:
        password: admin
        url: jdbc:mysql://localhost:3306/shopmedb
        username: root
    devtools:
        livereload:
            port: 35730
    jpa:
        database-platform: org.hibernate.dialect.MySQL8Dialect
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL8Dialect
                format_sql: true
        show-sql: false
    security:
        oauth2:
            client:
                registration:
                    google:
                        scope:
                          - email
                          - profile
                    facebook:
                        scope:
                          - email
                          - public_profile
    mvc:
        pathmatch:
            matching-strategy: ant-path-matcher
    config:
        import: optional:secrets.yml

# AWS S3 configuration
aws:
    s3:
        region: ap-southeast-1
        bucket: com-mahim-shopme
        access_key: ${AWS_ACCESS_KEY_ID}
        secret_key: ${AWS_SECRET_ACCESS_KEY}