<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page_structure :: page_header('Users - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navigation :: page_nav"></div>
    <div>
        <h2>Manage users</h2>
        <a th:href="@{${moduleURL} + '/new'}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
        &nbsp;|&nbsp;
        <a th:href="@{${moduleURL}+ '/export/csv'}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
        &nbsp;|&nbsp;
        <a th:href="@{${moduleURL} + '/export/excel'}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>
        &nbsp;|&nbsp;
        <a th:href="@{${moduleURL} + '/export/pdf'}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div th:if="${exceptionMessage != null}" class="alert alert-danger text-center">
        [[${exceptionMessage}]]
    </div>
    <div th:replace="fragments/search_form :: search_form"></div>
    <div class="full-details">
        <table class="table table-striped table-hover table-bordered text-center">
            <thead class="table-dark">
            <tr>
                <th class="hideable-column">
                    <th th:replace="fragments/column_element::column_link('id', 'ID', 'tag')"/>
                </th>
                <th>Photos</th>
                <th class="hideable-column">
                    <th th:replace="fragments/column_element::column_link('email', 'Email', 'tag')"></th>
                </th>

                <th th:replace="fragments/column_element::column_link('firstName', 'First Name', 'none')"></th>
                <th th:replace="fragments/column_element::column_link('lastName', 'Last Name', 'none')"></th>
                <th>Roles</th>
                <th th:replace="fragments/column_element::column_link('enabled', 'Enabled', 'none')"></th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td class="hideable-column" th:text="${user.id}"></td>
                <td>
                    <i th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></i>
                    <img th:if="${user.photos != null}" th:src="@{${user.imagePath}}" style="height: 100px"/>
                </td>
                <td class="hideable-column" th:id="@{'user-' + ${user.id} + '-email'}" th:text="${user.email}">Email
                </td>
                <td th:id="@{'user-' + ${user.id} + '-fname'}" th:text="${user.firstName}">Ashraful</td>
                <td th:id="@{'user-' + ${user.id} + '-lname'}" th:text="${user.lastName}">mahim</td>
                <td th:text="${user.roles}">Role</td>
                <td>
                    <a th:if="${user.enabled == true}" th:href="@{${moduleURL} + '/' + ${user.id} + '/enabled/' + ${true}}"><i
                            class="fas fa-check-circle fa-2x icon-green"></i></a>
                    <a th:if="${user.enabled == false}" th:href="@{${moduleURL} + '/' + ${user.id} + '/enabled/' + ${false}}"><i
                            class="fas fa-times fa-2x icon-dark"></i></a>
                </td>
                <td>
                    <a th:href="@{${moduleURL} + '/edit/' + ${user.id}}"
                       title="Edit this user"
                    >
                        <i class="fas fa-edit fa-2x icon-lightblue"></i>
                    </a>
                    &nbsp;
                    <a th:href="@{${moduleURL} + '/delete/' + ${user.id}}"
                       class="user-delete"
                       title="Delete this user"
                    >
                        <i class="fas fa-trash fa-2x icon-danger"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details">
        <div class="row m-1" th:each="user : ${listUsers}">
            <div class="col-4">
                <i th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></i>
                <img th:if="${user.photos != null}" th:src="@{${user.imagePath}}" style="width: 100px"/>
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <th:block>
                        <a th:if="${user.enabled == true}"
                           th:href="@{${moduleURL} + '/' + ${user.id} + '/enabled/' + ${true}}"><i
                                class="fas fa-check-circle fa-2x icon-green"></i></a>
                        <a th:if="${user.enabled == false}"
                           th:href="@{${moduleURL} + '/' + ${user.id} + '/enabled/' + ${false}}"><i
                                class="fas fa-times fa-2x icon-dark"></i></a>
                        &nbsp;
                    </th:block>
                    <th:block>
                        <a th:href="@{${moduleURL} + '/edit/' + ${user.id}}"
                           title="Edit this user"
                        >
                            <i class="fas fa-edit fa-2x icon-lightblue"></i>
                        </a>
                        &nbsp;
                        <a th:href="@{${moduleURL} + '/delete/' + ${user.id}}"
                           class="user-delete"
                           title="Delete this user"
                        >
                            <i class="fas fa-trash fa-2x icon-danger"></i>
                        </a>
                    </th:block>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="text-center m-1" th:if="${total > 0}">
        <span>Showing users # [[${startNo}]] to [[${endNo}]] of [[${total}]]</span>
        <nav th:replace="fragments/pagination :: pagination_fragment"></nav>
    </div>
    <div class="text-center m-1" th:unless="${total > 0}">
        <h2>No users found</h2>
    </div>
    <div th:replace="fragments/modal::confirmDeleteModal"></div>
    <div th:replace="fragments/page_structure :: page_footer"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".user-delete").on("click", function (e) {
            e.preventDefault();
            let deleteUrl = $(e.currentTarget).attr("href");
            let splitUrl = deleteUrl.split("/");
            let userId = splitUrl[splitUrl.length - 1];
            let userEmail = $(`#user-${userId}-email`).text();
            let userFname = $(`#user-${userId}-fname`).text();
            let userLname = $(`#user-${userId}-lname`).text();
            console.log(userEmail, userFname, userLname);

            $("#modalYesBtn").attr("href", deleteUrl);
            showModalDialog("Delete Confirmation", "Are you sure to delete user <br> (ID: " + userId + ", Email: " + userEmail + ", Name: " + userFname + " " + userLname + ")?");
        });
    });

    function clearFilter() {
        window.location = "[[@{/users}]]";
    }
</script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>