<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/page_structure :: page_header('Welcome to Shopme')"></th:block>
<body>
    <div class="container">
        <th:block th:replace="fragments/navigation :: header_nav"></th:block>
        <th:block th:replace="fragments/navigation :: search_nav"></th:block>
        <div class="hero-title">
            <h2>Shopping by Categories</h2>
        </div>
        <div class="row m-4">
            <th:block th:each="cat : ${categories}">
                <div class="col col-lg-2 col-md-3 col-sm-6 mb-4">
                    <div>
                        <img  th:src="@{${cat.imagePath}}" width="100">
                    </div>
                    <div>
                        <a th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
                    </div>
                </div>
            </th:block>
        </div>
        <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
    </div>
</body>
</html>