<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/page_structure :: page_header('Welcome to Shopme')"></th:block>
<body>
<div class="container text-center">
    <th:block th:replace="fragments/navigation :: header_nav"></th:block>
    <div class="hero-title">
        <h2>Customer Login</h2>
    </div>
    <div class="mt-3">
        <a class="btn btn-lg btn-primary fab fa-google" th:href="@{/oauth2/authorization/google}"> Continue with Google</a>
    </div>
    <div class="mt-3">
        <a class="btn btn-lg btn-primary fab fa-facebook" th:href="@{/oauth2/authorization/facebook}"> Continue with Facebook</a>
    </div>
    <div>&nbsp;</div>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 10px auto">
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>
        <div class="border border-secondary rounded p-3">
            <div class="mb-3">
                <input type="email" name="email" placeholder="Email" class="form-control" required/>
            </div>
            <div class="mb-3">
                <input type="password" name="password" placeholder="Password" class="form-control" required/>
            </div>
            <div class="mb-3">
                <input type="checkbox" name="remember-me"/> &nbsp; Remember me
            </div>
            <input type="submit" class="btn btn-primary" value="Login"/>
        </div>
    </form>
    <div>&nbsp;</div>
    <div>or <a th:href="@{/forgot_password}">Forgot Password</a></div>
    <div>Don't have an account? <a th:href="@{/register}">Sign up</a></div>
    <div>&nbsp;</div>
    <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
</div>
</body>
</html>