<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/page_structure :: page_header(${pageTitle})"></th:block>
<body>
    <div class="container">
        <th:block th:replace="fragments/navigation :: header_nav"></th:block>
        <div class="hero-title">
            <div th:if="${title != null}">
                <h2>[[${title}]]</h2>
            </div>
            <div th:if="${message != null}" class="alert alert-success">
                [[${message}]]
            </div>
            <div th:if="${exceptionMessage != null}" class="alert alert-danger">
                [[${exceptionMessage}]]
            </div>
        </div>
        <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
    </div>
</body>
</html>