<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/page_structure :: page_header(${pageTitle})"></th:block>
<body>
    <div class="container-fluid">
        <th:block th:replace="fragments/navigation :: header_nav"></th:block>
        <div class="row m-4 text-center">
            <div th:if="${title != null}">
                <h3>[[${title}]]</h3>
            </div>
            <div th:if="${message != null}" class="alert alert-success">
                [[${message}]]
            </div>
            <div th:if="${exceptionMessage != null}" class="alert alert-danger">
                [[${exceptionMessage}]]
            </div>
        </div>
        <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
    </div>
</body>
</html>