<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/page_structure :: page_header('Shopping cart')"></th:block>
<body>
<div class="container-fluid">
   <th:block th:replace="fragments/navigation :: header_nav"></th:block>
   <th:block th:replace="fragments/navigation :: search_nav"></th:block>
   <div class="text-center">
      <h2>Shopping Cart</h2>
      <div th:if="${message != null}" class="alert alert-success text-center">
         [[${message}]]
      </div>
      <div th:if="${exceptionMessage != null}" class="alert alert-danger text-center">
         [[${exceptionMessage}]]
      </div>
   </div>
   <div class="row">
      <div class="col">
         <th:block th:each="item, status : ${cartItems}">
            <div class="row border rounded">
               <div class="col-1">
                  <div>[[${status.count}]]</div>
               </div>
               <div></div>
               <div class="col-3">
                  <img th:src="@{${item.main}}"/>
               </div>
            </div>
         </th:block>
      </div>
   </div>
   <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
</div>
</body>
</html>