server:
    port: 8080
    servlet:
        context-path: /shopme-admin

spring:
    datasource:
        url: jdbc:mysql://mysql-db:3306/shopmedb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
        username: ${DB_USER}
        password: ${DB_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: false
        properties:
          hibernate:
              dialect: org.hibernate.dialect.MySQL8Dialect
              format_sql: true

# AWS S3 for production
cloud:
    aws:
        credentials:
            access-key: ${AWS_ACCESS_KEY_ID}
            secret-key: ${AWS_SECRET_ACCESS_KEY}
        region:
            static: ${AWS_REGION:-us-east-1}
        stack:
            auto: false

logging:
    level:
        root: info
        com.mahim.shopme: info
    file:
        name: /app/logs/backend.log