*.icon-white { color: white }
*.icon-silver { color: silver }
*.icon-green { color: green }
*.icon-blue { color: blue }
*.icon-dark { color: gray }
*.icon-lightblue { color: #45a6d0 }
*.icon-danger { color: #c72828 }

@media screen and (max-width: 768px){
    /*small screen*/
    div.full-details {
        display: none;
    }
    div.less-details {display: block}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*medium screen*/
    div.full-details {
        display: block;
    }
    div.less-details {display: none}
    .hideable-column {display: none}
}

@media screen and (min-width: 1024px) {
    /*large screen*/
    div.less-details {display: none}
    .hideable-column {display: table-cell}
}

.alert-success {
    margin-top: 1rem;
}

.alert-danger {
    margin-top: 1rem;
}