<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/page_structure :: page_header('Verification Succeeded!')"></th:block>
<body>
    <div class="container">
        <th:block th:replace="fragments/navigation :: header_nav"></th:block>
        <div>&nbsp;</div>
        <div class="hero-title">
            <h2>Customer Verification</h2>
            <h4>Congratulations! Your account has been verified</h4>
            <p><a th:href="@{/login}">Login Now</a></p>
        </div>
        <div>&nbsp;</div>

        <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
    </div>
</body>
</html>