<!DOCTYPE html>
<html lang="en">
<th:block th:replace="fragments/page_structure :: page_header(${pageTitle})"></th:block>
<body>
<div class="container">
    <th:block th:replace="fragments/navigation :: header_nav"></th:block>
    <th:block th:replace="fragments/navigation :: search_nav"></th:block>
    <th:block th:replace="fragments/breadcrumb :: content"></th:block>
    <div class="text-center my-2">
        <h2>My Reviews</h2>
    </div>
    <div>
        <form th:action="@{'/reviews/page/1'}" class="col-sm-12 col-md-8 col-lg-6 m-3">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />
            <div class="row align-items-center">
                <div class="col-sm-10 col-md-1">
                    <label class="col-form-label"><b>Filter</b></label>
                </div>
                <div class="col-sm-10 col-md-7">
                    <input type="search" name="keyword" th:value="${keyword}" class="form-control"  />
                </div>
                <div class="col-sm-10 col-md-4 my-2">
                    <button type="submit" value="Search" class="btn btn-primary">
                        <i class="fas fa-search icon-white"></i>
                    </button>
                    <button type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
                        <i class="fas fa-eraser icon-white"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="full-details p-3">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
                <tr>
                    <th th:replace="fragments/column_element :: column_link('id', 'ID', 'none')"></th>
                    <th>Product</th>
                    <th>Headline</th>
                    <th th:replace="fragments/column_element :: column_link('rating', 'Rating', 'none')"></th>
                    <th th:replace="fragments/column_element :: column_link('reviewTime', 'Review Time', 'none')"></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="review: ${reviews}">
                    <td th:text="${review.id}">ID</td>
                    <td>
                        <a target="_blank" th:href="@{'/p/' + ${review.product.alias}}">[[${review.product.shortName}]]</a>
                    </td>
                    <td th:text="${review.headline}"></td>
                    <td>[[${review.rating}]] ☆</td>
                    <td><div th:replace="fragments/datetime_formatter :: format_time(${review.reviewTime})">Review Time</div></td>
                    <td class="text-center">
                        <a class="link-detail fas fa-file-alt fa-2x icon-green"
                           th:href="@{${moduleURL} + '/details/' + ${review.id}}" title="Review details"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details">
        <div class="row m-1" th:each="review : ${reviews}">
            <div class="row">
                <div class="col-2">[[${review.id}]]</div>
                <div class="col-10">
                    <div>[[${review.product.shortName}]]</div>
                    <div class="row mt-2">
                        <div class="col-3">
                            [[${review.rating}]] ☆
                        </div>
                        <div class="col-9">
                            <th:block>
                                <a class="link-detail" th:href="@{${moduleURL} + '/details/' + ${review.id}}"
                                   title="Review details"
                                >
                                    <i class="fas fa-file-alt fa-2x icon-blue"></i>
                                </a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="text-center m-1" th:if="${totalPageNo > 0}">
        <span>Showing Reviews # [[${startNo}]] to [[${endNo}]] of [[${totalItems}]]</span>
        <th:block th:replace="fragments/pagination::pagination_fragment('reviews')"></th:block>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <h2>No Reviews found</h2>
    </div>
    <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
    <th:block th:replace="fragments/modal :: shopmeModal"></th:block>
    <div class="modal fade text-center" id="reviewDetailModal" aria-labelledby="reviewDetailModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script type="text/javascript">
        moduleURL = "[[@{/reviews}]]";
        const contextPath = "[[@{/}]]";
        const csrfHeaderName = "[[${_csrf.headerName}]]";
        const csrfHeaderValue = "[[${_csrf.token}]]";

        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            let linkDetailURL = $(this).attr("href");
            $("#reviewDetailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });

        function clearFilter() {
            window.location = moduleURL;
        }
    </script>
</div>
</body>
</html>