<!DOCTYPE html>
<html lang="en">
<th:block th:replace="fragments/page_structure :: page_header(${pageTitle})"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <th:block th:replace="fragments/navigation :: header_nav"></th:block>
    <th:block th:replace="fragments/navigation :: search_nav"></th:block>
    <th:block th:replace="fragments/breadcrumb :: content"></th:block>
    <div class="text-center my-2">
        <h2>My Orders</h2>
    </div>
    <div>
        <form th:action="@{'/orders/page/1'}" class="col-sm-12 col-md-8 col-lg-6 m-3">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />
            <div class="row align-items-center">
                <div class="col-sm-10 col-md-1">
                    <label for="orderKeyword" class="col-form-label"><b>Filter</b></label>
                </div>
                <div class="col-sm-10 col-md-7">
                    <input type="search" name="orderKeyword" th:value="${orderKeyword}" class="form-control"  />
                </div>
                <div class="col-sm-10 col-md-4 my-2">
                    <button type="submit" value="Search" class="btn btn-primary">
                        <i class="fas fa-search icon-white"></i>
                    </button>
                    <button type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
                        <i class="fas fa-eraser icon-white"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
            <tr>
                <th th:replace="fragments/column_element :: column_link('id', 'ID', 'none')"></th>
                <th th:replace="fragments/column_element :: column_link('orderTime', 'Order Time', 'none')"></th>
                <th>Products</th>
                <th th:replace="fragments/column_element :: column_link('total', 'Total', 'none')"></th>
                <th th:replace="fragments/column_element :: column_link('status', 'Status', 'none')"></th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.id}">ID</td>
                    <td><div th:replace="fragments/datetime_formatter :: format_time(${order.orderTime})">Order Time</div></td>
                    <td th:utext="${order.productNames}"></td>
                    <td>
                        <div th:replace="fragments/currency_formatter :: format_currency_span(${order.total})">Total</div>
                    </td>
                    <td><span>[[${order.status}]]</span></td>
                    <td>
                        <a class="fas fa-file-alt fa-2x icon-green" href="" title="View details of the order"></a>
                        <th:block th:unless="${order.returnRequested}">
                            &nbsp;&nbsp;&nbsp;
                            <a class="fas fa-undo fa-2x icon-dark" href="" title="Return this order"></a>
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details p-2">
        <th:block th:each="order: ${orders}">
            <div class="row m-1">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <span>Order ID # [[${order.id}]]</span>
                            </div>
                            <div class="col-4">
                                <div class="text-end">
                                    <a class="fas fa-file-alt fa-2x icon-green" href=""></a>
                                    <th:block th:unless="${order.returnRequested}">
                                        &nbsp;
                                        <a class="fas fa-undo fa-2x icon-dark" href="" title="Return this order"></a>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <span th:utext="${order.productNames}"></span>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div th:replace="fragments/currency_formatter :: format_currency_span(${order.total})">Total</div>
                            </div>
                            <div class="col">
                                <span>[[${order.status}]]</span>
                            </div>
                        </div>
                        <div>
                            <small>
                                <div th:replace="fragments/datetime_formatter :: format_time(${order.orderTime})"></div>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <div class="text-center m-1" th:if="${totalPageNo > 0}">
        <span>Showing Products # [[${startNo}]] to [[${endNo}]] of [[${totalItems}]]</span>
        <th:block th:replace="fragments/pagination::pagination_fragment('orders')"></th:block>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <h2>No Products found</h2>
    </div>
    <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
    <th:block th:replace="fragments/modal :: shopmeModal"></th:block>
    <script type="text/javascript">
        moduleURL = "[[@{/orders}]]"

        function clearFilter() {
            window.location = moduleURL;
        }
    </script>
</div>
</body>
</html>