*.icon-white { color: white }
*.icon-silver { color: silver }
*.icon-green { color: green }
*.icon-blue { color: blue }
*.icon-dark { color: gray }
*.icon-lightblue { color: #45a6d0 }
*.icon-danger { color: #c72828 }

@media screen and (max-width: 768px) {
    div.full-details {
        display: none;
    }
    div.less-details {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 1320px;
        background: white;
    }
    body {
        background: #f2f4f8;
    }
    div.full-details {
        display: block;
    }
    div.less-details {
        display: none;
    }
    .hideable-column {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1560px;
        background: white;
    }
    body {
        background: #f2f4f8;
    }
    div.less-details {
        display: none;
    }
    .hideable-column {
        display: table-cell;
    }
}

.hero-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}