<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="page_structure :: page_header(${pageTitle})"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: page_nav"></div>
    <h2>Manage Users | [[${pageTitle}]]</h2>
</div>
<div class="border border-secondary rounded p-3">
    <form th:action="@{/users/save}" method="post" th:object="${user}"
          enctype="multipart/form-data"
          class="needs-validation"
          onsubmit="return checkEmailUnique(this)"
          style="max-width: 700px; margin: 0 auto">
        <input type="hidden" th:field="*{id}"/>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" th:field="*{email}"
                       required minlength="8" maxlength="128"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4">First Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{firstName}"
                       required minlength="2" maxlength="128"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4">Last Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{lastName}"
                       required minlength="2" maxlength="128"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" th:field="*{password}" th:if="${user.id == null}"
                       required minlength="8" maxlength="20"/>
                <input type="password" class="form-control" th:field="*{password}" th:if="${user.id != null}"
                       minlength="8" maxlength="20"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4">Roles</label>
            <div class="col-sm-8">
                <th:block th:each="role : ${listRoles}">
                    <input type="checkbox" class="form-check-inline"
                           th:field="*{roles}" th:text="${role.name}" th:value="${role.id}"/>
                    &nbsp; - &nbsp;
                    <small th:text="${role.description}">description</small>
                    <br/>
                </th:block>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4">Enabled</label>
            <div class="col-sm-8">
                <input type="checkbox" class="form-check-inline"
                       th:field="*{enabled}"/>
                <small th:text="'enable or disable the user'"></small>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4">Photos</label>
            <div class="col-sm-8">
                <input type="hidden" th:field="*{photos}"/>
                <input type="file" class="mb-2 form-check-inline" id="fileImage" name="image"
                       accept="image/png, image/jpeg"/>
                <img id="thumbnail" alt="Photos preview" class="img-fluid" style="width: 120px"
                     th:src="@{${user.imagePath}}"/>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3"/>
            <input type="button" value="Cancel" class="btn btn-secondary" id="cancelUserCreate"/>
        </div>
    </form>
</div>
<div class="modal fade text-center" tabindex="-1" id="emailCheckModal" aria-labelledby="emailCheckModalTitle"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="emailCheckModalTitle">Warning</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="emailCheckModalBody"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="page_structure :: page_footer"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        let userDefaultImage = $("#thumbnail").attr("src");

        $("#cancelUserCreate").on("click", function () {
            window.location = "[[@{/users}]]";
        });

        $("#fileImage").change(function (e) {
            showImageThumbnail(this, userDefaultImage);
        });
    });

    function showImageThumbnail(fileInput, userDefaultImage) {
        let file = fileInput.files[0];
        let fileReader = new FileReader();

        fileReader.onload = function (e) {
            $("#thumbnail").attr("src", e.target.result);
        };

        try {
            let fileSize = fileInput.files[0].size;
            if (fileSize > (1024 * 1024)) {
                fileInput.setCustomValidity("Image must be less than 1 MB");
                fileInput.reportValidity();
            } else {
                fileReader.readAsDataURL(file);
            }
        } catch (err) {
            $("#thumbnail").attr("src", userDefaultImage);
        }
    }

    function checkEmailUnique(form) {
        let url = "[[@{/users/check_email}]]";
        let userEmail = $("#email").val();
        let csrf = $("input[name='_csrf']").val();
        let userId = $("#id").val();

        let params = {id: userId, email: userEmail, _csrf: csrf};

        $.post(url, params, function (response) {
            if (response === "OK") {
                form.submit();
            } else if (response === "Duplicated") {
                showModalDialog("Warning", "The email: " + userEmail + " has been registered already.");
            } else {
                show("Error", "An Error occurred.");
            }
        }).fail(function () {
            showModalDialog("Error", "Could not connect to server.")
        });
        return false;
    }

    function showModalDialog(title, message) {
        $("#emailCheckModalTitle").text(title);
        $("#emailCheckModalBody").text(message);
        let myModal = new bootstrap.Modal($("#emailCheckModal"), {
            keyboard: false
        });
        myModal.show();
    }
</script>
</body>
</html>