<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page_structure :: page_header('Categories - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navigation :: page_nav"></div>
    <div>
        <h2>Manage Products</h2>
        <a th:href="@{/products/new}" class="mr-2"><i class="fas fa-folder-plus fa-2x icon-dark"></i></a>
        &nbsp;|&nbsp;
        <a th:href="@{/products/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/products/export/excel}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/products/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div th:if="${exceptionMessage != null}" class="alert alert-danger text-center">
        [[${exceptionMessage}]]
    </div>
    <div th:replace="fragments/search_form :: search_form('/products/page/1')"></div>
    <div class="full-details">
        <table class="table table-striped table-hover table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th class="hideable-column">
                        <th:block th:replace="fragments/column_element::column_link('products', 'id', 'ID', 'tag')" />
                    </th>
                    <th>Product Image</th>
                    <th>
                        <th:block th:replace="fragments/column_element::column_link('products', 'name', 'Product Name', 'tag')" />
                    </th>

                    <th th:replace="fragments/column_element::column_link('products', 'alias', 'Alias', 'none')"></th>
                    <th th:replace="fragments/column_element::column_link('products', 'category', 'Category', 'none')"></th>
                    <th th:replace="fragments/column_element::column_link('products', 'brand', 'Brand', 'none')"></th>
                    <th th:replace="fragments/column_element::column_link('products', 'enabled', 'Enabled', 'none')"></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td class="hideable-column" th:text="${product.id}"></td>
                <td style="width: 200px">
                    <i th:if="${product.mainImage == null}" class="fas fa-portrait fa-3x icon-silver"></i>
                    <img th:if="${product.mainImage != null}" th:src="@{${product.mainImagePath}}"
                         class="img-fluid" style="height: 100px"/>
                </td>
                <td class="text-start" th:id="@{'product-' + ${product.id} + '-name'}" th:text="${product.shortName}">Product Name</td>
                <td class="text-start" th:text="${product.alias}">Product Alias</td>
                <td>
                    <span class="badge bg-info text-dark" th:text="${product.category.name}"></span>
                </td>
                <td>
                    <span class="badge bg-info text-dark" th:text="${product.brand.name}"></span>
                </td>
                <td>
                    <a th:if="${product.enabled == true}" th:href="@{'/products/' + ${product.id} + '/enabled/' + ${true}}"><i
                            class="fas fa-check-circle fa-2x icon-green"></i></a>
                    <a th:if="${product.enabled == false}" th:href="@{'/products/' + ${product.id} + '/enabled/' + ${false}}"><i
                            class="fas fa-times fa-2x icon-dark"></i></a>
                </td>
                <td>
                    <a class="link-detail" th:href="@{'/products/details/' + ${product.id}}"
                       title="View product details"
                    >
                        <i class="fas fa-file-alt fa-2x icon-blue"></i>
                    </a>
                    &nbsp;
                    <a th:href="@{'/products/edit/' + ${product.id}}"
                       title="Edit this category"
                    >
                        <i class="fas fa-edit fa-2x icon-lightblue"></i>
                    </a>
                    &nbsp;
                    <a th:href="@{'/products/delete/' + ${product.id}}"
                       class="product-delete"
                       title="Delete this brand"
                    >
                        <i class="fas fa-trash fa-2x icon-danger"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details">
        <div class="row m-1" th:each="product : ${products}">
            <div class="col-4">
                <i th:if="${product.mainImage == null}" class="fas fa-portrait fa-3x icon-silver"></i>
                <img th:if="${product.mainImage != null}" th:src="@{${product.mainImagePath}}"
                     class="img-fluid" style="height: 100px"/>
            </div>
            <div class="col-8">
                <div>[[${product.name}]]</div>
                <div>
                    <span class="badge bg-info text-dark" th:text="${product.category.name}"></span>
                </div>
                <div class="mt-2">
                    <th:block>
                        <a th:if="${product.enabled == true}"
                           th:href="@{'/products/' + ${product.id} + '/enabled/' + ${true}}"><i
                                class="fas fa-check-circle fa-2x icon-green"></i></a>
                        <a th:if="${product.enabled == false}"
                           th:href="@{'/products/' + ${product.id} + '/enabled/' + ${false}}"><i
                                class="fas fa-times fa-2x icon-dark"></i></a>
                        &nbsp;
                    </th:block>
                    <th:block>
                        <a th:href="@{'/products/edit/' + ${product.id}}"
                           title="Edit this category"
                        >
                            <i class="fas fa-edit fa-2x icon-lightblue"></i>
                        </a>
                        &nbsp;
                        <a th:href="@{'/products/delete/' + ${product.id}}"
                           class="product-delete"
                           title="Delete this brand"
                        >
                            <i class="fas fa-trash fa-2x icon-danger"></i>
                        </a>
                    </th:block>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="text-center m-1" th:if="${total > 0}">
        <span>Showing categories # [[${startNo}]] to [[${endNo}]] of [[${total}]]</span>
        <nav th:replace="fragments/pagination::pagination_fragment('products')" />
    </div>
    <div class="text-center m-1" th:unless="${total > 0}">
        <h2>No product found</h2>
    </div>
    <div th:replace="fragments/modal::confirmDeleteModal"></div>
    <div class="modal fade text-center" tabindex="-1" id="productDetailModal" aria-labelledby="productDetailModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content"></div>
        </div>
    </div>
    <div th:replace="fragments/page_structure :: page_footer"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".product-delete").on("click", function (e) {
            e.preventDefault();
            let deleteUrl = $(e.currentTarget).attr("href");
            let splitUrl = deleteUrl.split("/");
            let productId = splitUrl[splitUrl.length - 1];
            let productName = $(`#product-${productId}-name`).text();

            $("#modalYesBtn").attr("href", deleteUrl);
            showModalDialog("Delete Confirmation", "Are you sure to delete Product <br> (ID: <b>" + productId + "</b>, Name: <b>" + productName + "</b>)?");
        });

        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            let linkDetailURL = $(this).attr("href");
            $("#productDetailModal").modal("show").find(".modal-content").load(linkDetailURL);
        })
    });

    function clearFilter() {
        window.location = "[[@{/products}]]";
    }
</script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>