<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page_structure :: page_header(${pageTitle})"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navigation :: page_nav"></div>
    <div class="text-center">
        <h2>Manage Products | [[${pageTitle}]]</h2>
    </div>
    <div class="container">
        <div class="border border-secondary rounded p-3">
            <form th:action="@{/products/save}" method="post" th:object="${product}"
                  style="max-width: 700px; margin: 0 auto">
                <div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">Overview</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab">Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab">Images</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab">Details</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="overview" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                            <div th:replace="products/product_overview :: productOverview"></div>
                        </div>
                        <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab" tabindex="0">Description</div>
                        <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab" tabindex="0">Images</div>
                        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab" tabindex="0">Details</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/modal::shopmeModal"></div>
    <div th:replace="fragments/page_structure :: page_footer"></div>
</div>
<script type="text/javascript">
    moduleURL = "[[@{/products}]]";
    brandModuleURL = "[[@{/brands}]]";

    $(document).ready(function () {
        let categoryDropdown = $("#category");
        let brandDropdown = $("#brand");

        brandDropdown.change(function (e) {
            $(this).children("option:selected").each(function () {
                categoryDropdown.empty();
                fetchCategories($(this).val(), categoryDropdown);
            });
        });

        if (brandDropdown.val()) {
            fetchCategories(brandDropdown.val(), categoryDropdown);
        }
    });

    function fetchCategories(brandId, categoryDropdown) {

        let url = brandModuleURL + "/" + brandId + "/categories";
        let _csrf = $("input[name='_csrf']").val();

        fetch(url, {_csrf: _csrf})
            .then(res => res.json())
            .then(data => {
                data.forEach((item, index) => {
                    $("<option>").val(item.id).text(item.name).appendTo(categoryDropdown);
                })
            })
            .catch(e => console.log("Error occurred due to: ", e))
    }
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>