<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="productDescription" th:remove="tag">
    <div class="row mb-3">
        <label class="col-form-label col-sm-2">Short Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" th:field="*{shortDescription}" required rows="5"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-2">Full Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" th:field="*{fullDescription}" required rows="10"></textarea>
        </div>
    </div>
</div>
</body>
</html>