<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="productImages">
    <div class="row">
        <div class="col border m-3 p-2">
            <div>
                <label>Main Image</label>
                <div class="m-2">
<!--                    <input type="hidden" th:field="*{photos}"/>-->
                    <img id="thumbnail" alt="Photos preview" class="img-fluid" style="max-width: 500px"
                         th:src="@{${product.mainImagePath}}"/>
                </div>
                <div>
                    <input type="file" class="mb-2 form-check-inline" id="fileImage" name="image" required
                           accept="image/png, image/jpeg"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>