<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="product-details" th:fragment="productDetails">
    <div id="detailItem1" class="row mb-3">
        <label class="col-form-label col-sm-1">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="detailNames" required minlength="3" maxlength="255"/>
        </div>
        <label class="col-form-label col-sm-1">Value</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="detailValues" required minlength="3" maxlength="255"/>
        </div>
        <div class="col-sm-1 cross-btn-container"></div>
    </div>
</div>
</body>
</html>