<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page_structure :: page_header_with_richtext(${pageTitle})"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navigation :: page_nav"></div>
    <div class="text-center">
        <h2>Manage Products | [[${pageTitle}]]</h2>
    </div>
    <div class="container">
        <div class="border border-secondary rounded p-3">
            <form th:action="@{/products/save}" method="post" th:object="${product}"
                  onsubmit="return checkProductUnique(this)"
                  enctype="multipart/form-data"
                  style="max-width: 1000px; margin: 0 auto">
                <input type="hidden" th:field="*{id}"/>
                <div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">Overview</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab">Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab">Images</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab">Details</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping" type="button" role="tab">Shipping</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="overview" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                            <th:block th:replace="products/product_overview :: productOverview"></th:block>
                        </div>
                        <div class="tab-pane fade p-3" id="description" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
                            <th:block th:replace="products/product_description :: productDescription"></th:block>
                        </div>
                        <div class="tab-pane fade p-3" id="images" role="tabpanel" aria-labelledby="images-tab" tabindex="0">
                            <th:block th:replace="products/product_images :: productImages"></th:block>
                        </div>
                        <div class="tab-pane fade p-3" id="details" role="tabpanel" aria-labelledby="details-tab" tabindex="0">Details</div>
                        <div class="tab-pane fade p-3" id="shipping" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
                            <th:block th:replace="products/product_shipping :: productShipping"></th:block>
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Save" class="btn btn-primary m-3"/>
                        <input type="button" value="Cancel" class="btn btn-secondary" id="cancelProductOverview"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/modal::shopmeModal"></div>
    <div th:replace="fragments/page_structure :: page_footer"></div>
</div>
<script type="text/javascript">
    moduleURL = "[[@{/products}]]";
    brandModuleURL = "[[@{/brands}]]";

    $(document).ready(function () {
        let categoryDropdown = $("#category");
        let brandDropdown = $("#brand");

        $("#shortDescription").richText();
        $("#fullDescription").richText();

        brandDropdown.change(function (e) {
            $(this).children("option:selected").each(function () {
                categoryDropdown.empty();
                fetchCategories($(this).val(), categoryDropdown);
            });
        });

        if (brandDropdown.val()) {
            fetchCategories(brandDropdown.val(), categoryDropdown);
        }
    });

    function fetchCategories(brandId, categoryDropdown) {

        let url = brandModuleURL + "/" + brandId + "/categories";
        let _csrf = $("input[name='_csrf']").val();

        fetch(url + "?" + new URLSearchParams({_csrf: _csrf}))
            .then(res => res.json())
            .then(data => {
                data.forEach((item, index) => {
                    $("<option>").val(item.id).text(item.name).appendTo(categoryDropdown);
                })
            })
            .catch(e => console.log("Error occurred due to: ", e))
    }

    function checkProductUnique(form) {
        let url = "[[@{/products/check_unique}]]";
        let productId = $("#id").val();
        let productName = $("#name").val();
        let productAlias = $("#alias").val();
        let csrf = $("input[name='_csrf']").val();

        let params = {id: productId, name: productName, alias: productAlias, _csrf: csrf};

        fetch(url + "?" + new URLSearchParams(params), {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(res => res.text())
            .then(data => {
                if (data === "OK") {
                    form.submit();
                } else if(data === "DuplicatedName") {
                    showModalDialog("Warning", "Product with name: <b>" + productName + "</b> has been registered already.");
                } else if (data === "DuplicatedAlias") {
                    showModalDialog("Warning", "Product with alias: <b>" + productAlias + "</b> has been registered already.");
                }
            })
            .catch(e => {
                showModalDialog("Error", "Could not connect to server.")
            });

        return false;
    }
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>