<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/page_structure :: page_header_with_richtext(${pageTitle})"></head>
<body>
<div class="container-fluid">
	<div th:replace="fragments/navigation :: page_nav"></div>
	<div class="text-center">
		<h2>Manage Order | [[${pageTitle}]]</h2>
	</div>
	<div class="container">
		<div class="border border-secondary rounded p-3">
			<form th:action="@{/orders/save}" method="post" th:object="${order}"
				  enctype="multipart/form-data"
				  style="max-width: 1000px; margin: 0 auto">
				<div>
					<ul class="nav nav-tabs" id="orderDetailTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">Overview</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#products" type="button" role="tab">Products</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping" type="button" role="tab">Shipping</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#track" type="button" role="tab">Track</button>
						</li>
					</ul>
					<div class="tab-content" id="orderDetailContent">
						<div class="tab-pane fade show active p-3" id="overview" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
							<th:block th:replace="orders/order_form_overview :: content"></th:block>
						</div>
						<div class="tab-pane fade p-3" id="products" role="tabpanel" aria-labelledby="products-tab" tabindex="1">
							<th:block th:replace="orders/order_form_products :: content"></th:block>
						</div>
						<div class="tab-pane fade p-3" id="shipping" role="tabpanel" aria-labelledby="shipping-tab" tabindex="2">
							<th:block th:replace="orders/order_form_shipping :: content"></th:block>
						</div>
						<div class="tab-pane fade p-3" id="track" role="tabpanel" aria-labelledby="track-tab" tabindex="3">
							<div class="border border-secondary rounded p-3">
								<div>
									<table class="table table-striped table-bordered table-hover">
										<thead class="table-dark">
										<tr>
											<th>Time</th>
											<th>Status</th>
											<th>Notes</th>
										</tr>
										</thead>
										<tbody>
										<th:block th:each="track : ${order.orderTracks}">
											<tr>
												<td>[[${#dates.format(updatedTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
												<td>[[${track.status}]]</td>
												<td>[[${track.notes}]]</td>
											</tr>
										</th:block>
										</tbody>
									</table>
								</div>
								<div class="less-details">
									<th:block th:each="track : ${order.orderTracks}">
										<div class="row p-1">
											<span>[[${#dates.format(updatedTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
										</div>
										<div class="row p-1 ml-3">
											<span>&nbsp;&nbsp;</span>
											<b>[[${track.status}]]</b>: <i>[[${track.notes}]]</i>
										</div>
										<div class="row">&nbsp;</div>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary m-3"/>
					<input type="button" value="Cancel" class="btn btn-secondary" id="cancelForm"/>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/modal::shopmeModal"></div>
	<div th:replace="orders/add_product_modal :: content"></div>
	<div th:replace="fragments/page_structure :: page_footer"></div>
</div>
<script type="text/javascript">
	moduleURL = "[[@{/orders}]]";
</script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/shipping/shipping_form.js}"></script>
<script th:src="@{/library/jquery.number.min.js}"></script>
<script th:src="@{/js/order/overview_products.js}"></script>
<script th:src="@{/js/order/add_products.js}"></script>
</body>
</html>