<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="border border-secondary rounded p-3 text-start">
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">Deliver Days</label>
        <div class="col-sm-9">
            <input class="form-control" type="number" th:field="*{deliverDays}" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">Expected Deliver Date</label>
        <div class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-2">
            <input class="form-control" type="date" th:field="*{deliverDateOnForm}" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">First Name</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" th:field="*{firstName}" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">Last Name</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" th:field="*{lastName}" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">Phone Number</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" th:field="*{phoneNumber}" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">Address Line 1</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" th:field="*{addressLine1}" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">Address Line 2</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" th:field="*{addressLine2}" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">City</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" th:field="*{city}" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">State</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" th:field="*{state}" required list="listStates" />
            <datalist id="listStates"></datalist>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">Country</label>
        <div class="col-sm-9">
            <input type="hidden" id="countryName" name="countryName" th:value="${order.country}">
            <select class="form-select" id="country" required >
                <th:block th:each="option : ${countries}">
                    <option th:value="${option.id}" th:selected="${option.name == order.country}">[[${option.name}]]</option>
                </th:block>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label col-sm-3">Postal Code</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" th:field="*{postalCode}" required />
        </div>
    </div>
</div>
</body>
</html>