<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page_structure :: page_header_with_richtext(${pageTitle})"></head>
<body>
<div class="container">
    <div class="p-1">
        <form class="form-inline my-2" th:action="@{/orders/search_product}" method="post">
            <div class="row">
                <div class="col-auto">
                    <input type="search" required class="form-control mr-sm-2" name="keyword" placeholder="Product Name" />
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-outline-success" value="Search" />
                </div>
            </div>
        </form>

        <div class="row my-2">
            <th:block th:each="product : ${products}">
                <div class="col">
                    <div>
                        <a href="">
                            <img th:src="@{${product.mainImagePath}}" height="150" />
                        </a>
                        <br>
                        <b>[[${product.shortName}]]</b>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="text-center m-1" th:if="${total > 0}">
            <span>Showing categories # [[${startNo}]] to [[${endNo}]] of [[${total}]]</span>
            <nav th:replace="fragments/pagination::pagination_fragment"></nav>
        </div>
        <div class="text-center m-1" th:unless="${total > 0}">
            <p>No product found</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    moduleURL = "[[@{/orders}]]";
</script>
<script th:src="@{/js/order/overview_products.js}"></script>
<script th:src="@{/js/order/add_products.js}"></script>
</body>
</html>