<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/page_structure :: page_header('Forgot password')"></th:block>
<body>
    <div class="container text-center">
        <th:block th:replace="fragments/navigation :: header_nav"></th:block>
        <div>&nbsp;</div>
        <div class="hero-title">
            <h2>Forgot Password</h2>
        </div>
        <form th:action="@{/forgot_password}" method="post" style="max-width: 350px; margin: 10px auto">
            <div th:if="${message != null}" class="alert alert-success text-center">
                [[${message}]]
            </div>
            <div th:if="${exceptionMessage != null}" class="alert alert-danger text-center">
                [[${exceptionMessage}]]
            </div>
            <div class="border border-secondary rounded p-3">
                <div>
                    <p>We will be sending a reset password link to your email.</p>
                </div>
                <div>
                    <p>
                        <input name="email" type="email" class="form-control" required autofocus
                        placeholder="Enter your e-mail"/>
                    </p>
                </div>
                <div>
                    <p>
                        <input type="submit" value="Send" class="btn btn-primary" />
                    </p>
                </div>
            </div>
        </form>
        <div>&nbsp;</div>
        <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
    </div>
</body>
</html>