<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/page_structure :: page_header('Reset password')"></th:block>
<body>
    <div class="container text-center">
        <th:block th:replace="fragments/navigation :: header_nav"></th:block>
        <div>&nbsp;</div>
        <div class="hero-title">
            <h2>Reset Your Password</h2>
        </div>
        <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 10px auto">
            <input type="hidden" name="token" th:value="${token}" />
            <div th:if="${message != null}" class="alert alert-success text-center">
                [[${message}]]
            </div>
            <div th:if="${exceptionMessage != null}" class="alert alert-danger text-center">
                [[${exceptionMessage}]]
            </div>
            <div class="border border-secondary rounded p-3">
                <div>
                    <p>
                        <input name="password" id="password" type="password" class="form-control" required autofocus
                               placeholder="Enter new password" minlength="8" maxlength="15"
                               oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                        />
                    </p>
                </div>
                <div>
                    <p>
                        <input name="confirmPassword" type="password" class="form-control" required
                               placeholder="Confirm new password"
                               minlength="8" maxlength="15"
                               oninput="checkPasswordMatch(this)"
                        />
                    </p>
                </div>
                <div>
                    <p>
                        <input type="submit" value="Change Password" class="btn btn-primary" />
                    </p>
                </div>
            </div>
        </form>
        <div>&nbsp;</div>
        <th:block th:replace="fragments/navigation :: footer_nav"></th:block>
    </div>
    <script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
</body>
</html>